# Skip Angular build outputs
dist/
out-tsc/

# Skip Yarn cache/unplugged
.yarn/

# Skip test snapshots
**/*.snap

# Skip node modules
node_modules/

# Skip backend if you're formatting frontend only
../backend/
